#container{
    height: 300px;
    width:300px;
    margin:50px;
}
#container h1{
    text-align: center;
    margin-bottom: 70px;
}
.block{
	width   : 100px;
    height  : 100px;
    margin  : 0px;
    padding : 0px;
    float: left;
    cursor: pointer;
    text-align: center;
    font-family: sans-serif;
    font-size: 100px;
}
#b1,#b2,#b3,#b4,#b5,#b6{
    border-bottom: 10px solid black;
}
#b1,#b4,#b7{
    border-right: 10px solid black;
}
#b3,#b6,#b9{
    border-left: 10px solid black;
}
.block:hover{
    background-color: cadetblue;
}
